# Virtual Environment
venv/

# Python Cache
__pycache__/
*.py[cod]
*.pyo

# Environment Variables
.env

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# Logs
*.log

# Generated Reports
output/
reports/*.html
reports/*.pdf
reports/*.json

# OS Files
.DS_Store
Thumbs.db