# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Test Cache
.pytest_cache/

# Logs
output/
*.log

# Generated Reports
reports/*.html
reports/*.json
reports/*.pdf

# Cache Data
cache/*.json

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db